@import 'bootstrap-icons/font/bootstrap-icons.css';

.navbar {
    background-color: #111827 !important;
}

body {
    background-color: #1E293B !important;
    color: white; 
}

.bg-secondary {
    background-color: #071d33 !important;
}

.bg-primary {
    background-color: #111827 !important;
}

.delete {
    background-color: #c03409;
}

nav{
    font-weight: 700;
}
            
.img-card{
    height: 18vw;
    object-fit: cover;
}

.startButton{
    background-color: #040827 !important;
    color: white;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/fondo.jpg");
    background-size: cover;
}

.n-card {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: #1E293B;
    border-color: #1E293B;
    width: 100%;
}